<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (locals.metaDescription) { %>
        <meta name="description" content="<%= metaDescription %>">
    <% } else { %>
        <meta name="description" content="Digital Platform for the Khaudum North Complex Conservancies, empowering communities and protecting wildlife.">
    <% } %>
    <title><%= title %> | Khaudum North Complex</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="main-header">
        <nav class="navbar container">
            <a href="/" class="nav-logo">KHAUDUM NORTH</a>
            <ul class="nav-menu">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About Us</a></li>
                <li class="nav-item"><a href="/gmc" class="nav-link">George Mukoya</a></li>
                <li class="nav-item"><a href="/mnc" class="nav-link">Muduva Nyangana</a></li>
                <li class="nav-item"><a href="/projects" class="nav-link">Projects</a></li>
                <li class="nav-item"><a href="/news" class="nav-link">News</a></li>
                <li class="nav-item"><a href="/gallery" class="nav-link">Gallery</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                <li class="nav-item"><a href="/admin/login" class="nav-link btn btn-secondary">Login</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span><span class="bar"></span><span class="bar"></span>
            </div>
        </nav>
    </header>
    <main>